.container {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}