nav a {
    /* 링크 아래 줄 제거 */
    text-decoration: none;
    color: inherit;
}

nav ul {
    /* li 세로 정렬 */
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
nav li .img{
    width:30px;
    height:30px;
}
.icon {
  width: 40px;
  height: 40px;
}