@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

#root {
    background: #ebecf0;
}

.page {
  background: #ebecf0;
  min-height: calc(100vh - 80px);
  padding: 30px 20px;
  font-family: "Montserrat", sans-serif;
}
.title {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  color: #000;
  text-align: center;
}
.record-wrapper {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background: #ebecf0;
    border-radius: 14px;
    box-shadow: -5px -5px 10px #ffffff,
        5px 5px 10px #babebc;
    font-family: "Montserrat", sans-serif;
}

.record-title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 6px;
    color: #000;
}

.record-date {
    text-align: center;
    font-size: 13px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #333;
}

.record-field {
    margin-bottom: 18px;
}

.record-field label {
    margin-right: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
}

.record-field input {
    width: 200px;
    padding: 14px;
    margin-top: 6px;
    border-radius: 14px;
    border: none;
    background: #ebecf0;
    font-size: 13px;
    text-align: center;
    box-shadow: inset 3px 3px 6px #babebc,
        inset -3px -3px 6px #ffffff;
}

.record-subtitle {
    margin: 30px 0 15px;
    font-size: 15px;
    font-weight: 800;
    color: #000;
    text-align: center;
}

.exercise-card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr auto;
    gap: 10px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 14px;
    background: #ebecf0;
    box-shadow: -4px -4px 8px #ffffff,
        4px 4px 8px #babebc;
}

.exercise-card input {
    padding: 10px;
    border-radius: 12px;
    border: none;
    background: #ebecf0;
    font-size: 13px;
    box-shadow: inset 3px 3px 6px #babebc,
        inset -3px -3px 6px #ffffff;
}

.record-actions {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.primary-btn,
.success-btn,
.gray-btn,
.danger-btn {
    border: none;
    border-radius: 14px;
    padding: 12px;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
}

.primary-btn {
    width: 100%;
    margin-top: 10px;
    background: #ebecf0;
    color: #000;
    box-shadow: -4px -4px 8px #ffffff,
        4px 4px 8px #babebc;
}

.success-btn {
    flex: 1;
    background: #ff4b2b;
    color: #fff;
    box-shadow: -4px -4px 8px #ff6b3f,
        4px 4px 8px #bf4b2b;
}

.gray-btn {
    flex: 1;
    background: #ebecf0;
    color: #000;
    box-shadow: -4px -4px 8px #ffffff,
        4px 4px 8px #babebc;
}

.danger-btn {
    background: #ebecf0;
    color: #ff4b2b;
    padding: 8px 12px;
    font-size: 12px;
    box-shadow: inset 3px 3px 6px #babebc,
        inset -3px -3px 6px #ffffff;
}